@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

* {
  transition: all 0.3s ease-out;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html, body {
  background-color: #050505; /* Matches your FunApp theme */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.animate-progress {
  animation: progress 5s linear forwards;
}

@keyframes storyProgress {
  from { transform: scaleX(0); }
  to { transform: scaleX(1); }
}

.animate-story-progress {
  animation: storyProgress 5s linear forwards;
}
