const Port = 3000;
SECRET_KEY = your_secret_key
MONGO_URI = your_mongo_uri
API_KEY = your_api_key
API_SECRET = your_api_secret
CLOUD_NAME = your_cloud_name
URL = your_backend_url
VITE_API_URL = your_backend_url
FRONT_URL = your_frontend_url